
html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Karla", Verdana, Tahoma, sans-serif;
    color: #000;
    margin: 0;
    background: #feebca;
}

h1, h2 {
    font-family: "Lato", Arial, Georgia, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 900px;
}

#map1 {
  height: 500px;
  width: 100%;
  margin: 1rem 0rem 0rem;
}

#info {
  align-items: baseline;
}

.text {
  padding: 0rem;
  margin: 1rem;
  text-align: left;
  max-width: 500px;
}

footer {
  padding: 1rem 0rem;
  text-align: center;
  color: #fff;
  background: #000;
}

a {
    color: #81c1cb;
    text-decoration: none;
}
a:hover {
    color: #EE88AF;
}

@media screen and (max-width: 950px) {
  h1{
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  h1{
    margin: 1rem;
  }
}
